{% extends "app/layout.html" %}
{% block title %}Create Budget{% endblock %}
{% block content %}
<section class="form-section">
  <h2>Create a New Budget</h2>
  <form action="{% url 'app:createbudget' %}" method="POST">
    {% csrf_token %}
    <label>Time Period:</label>
    <div class="radio-group">
      <input type="radio" id="weekly" name="time_period" value="weekly" required>
      <label for="weekly">Weekly</label>
      <input type="radio" id="monthly" name="time_period" value="monthly" required>
      <label for="monthly">Monthly</label>
    </div>
    
    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount" placeholder="Budget Amount" required>
    
    <button type="submit" class="btn">Create Budget</button>
  </form>
</section>
{% endblock %}
