{% extends "app/layout.html" %}
{% load humanize %}

{% block title %}Dashboard{% endblock %}
{% block content %}
<section class="dashboard-section">
  <h2>Welcome {{ username }}</h2>
  {% for budget in budgets %}
  <div class="budget-panel">
    <h3>{{ budget.period.capitalize }} budget: {{ budget.amount|intcomma }}</h3>
    <p><strong>Total Expenditure:</strong> {{ budget.total_expenditure|intcomma }}</p>
    <!--<p><strong>Highest Expenditure Item:</strong> {{ budget.highest_expenditure_item }}</p>-->
    <a href="{% url 'app:expense' budgetid=budget.budgetid %}" class="btn">Record new expense</a>
  </div>
  {% endfor %}
  <a href="{% url 'app:make_budget' %}" class="btn make-budget">Create a new budget</a>
</section>
{% endblock %}
